!!!5
%html
  %head
    %title Fundway
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "jquery.handsontable.css"}
    %script{:type => "text/javascript", :src => "http://d3js.org/d3.v3.js"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "jquery.handsontable.js"}
    %script{:type => "text/javascript", :src => "fundway.js"}
  %body
    #graph
    #error
      .text
        At this rate, you will go broke
      .value
        eventually? maybe?

    #table
