body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#table {
  margin: 40px auto;
  width: 220px;
  text-align: center;
}

#error {
  margin: 0 auto;
  text-align: center;
  color: #800;
  .text {
    font-size: 1.5em;
  }
  .value {
    font-size: 3em;
  }
  strong {
    font-weight: bold;
  }
}